// root, root.dark  >>  JS
// non fixed identifiers && descriptive
    // one-d  >>  primary
    // two-d  >>  secondary ...

:root {
    --color1: #fd6d03;
    --color2: #ffffff;
    --color3: #4C5270;
    --color4: #36eee0;
    --color5: #bcece0;
    --darkest: #333;
    --shadow: rgba(0, 0, 0, 0.15);
}


$debug-border-color: rgb(26, 228, 36)