// root, root.dark  >>  JS
// non fixed identifiers && descriptive
    // one-d  >>  primary
    // two-d  >>  secondary ...

:root {
    --color1: #fff;
    --color2: #36eee0;
    --color3: #f652a0;
    --color4: #4C5270;
    --color5: #bcece0;
}