// float is better for langauge direction?

header {
    height: 100vh;

    nav {
        max-width: 100%;
        margin: 0 auto;  // non-grid

        #logo-container {
            // non-grid
                position: absolute;
                padding-left: 20px;
                float: left;
            // not important
                line-height: 70px;
                    // fixed size << nav-height!
                text-transform: uppercase;
                font-size: 1.4em; // fixed size
                color: var(--color1);
                font-weight: bold;
        }

        #nav-container {
            float: right; // non-grid

            ul li {
                // non-grid
                    float: left;  // same line ~break~
                    position: relative;

                a {
                    // non-grid
                        display: block;
                        padding: 10px 20px 0 20px;
                        line-height: 50px; // fixed size
                    // background: #fff;
                    color: var(--darkest);
                    font-weight: bold;

                    &::before {
                        transition: 300ms;
                        height: 5px;
                        content: "";
                        position: absolute;
                        background-color: var(--color1);
                        width: 0%;
                        bottom: 0px;
                    }

                    &:hover::before{
                        width: 70%;
                    }
                    &:not(:only-child):after {
                        padding-left: 4px;
                        content: ' ▾';
                    }
                }
            }
        }
    }
}