// imports
@import "general-styles";
@import "colors";
@import "fonts";
@import "navbar";


// Temp
// * {
//     // @include debug;
// }
header {
    nav {
        background-color: var(--color2);
    }
    #logo-container span {
        color: var(--color1);
    }
    a {
        color: var(--color3);
    }
}

