// to use mixins && vars
@import "index";



main {
    width:360px;
    height:500px;
    @include self-centering($top:55%);
    padding: 35px;
    box-shadow: 0 3px 12px var(--shadow);
    border-radius: 10px;
    // grid-method
        display: grid;
        place-items: center;
        grid-template-rows: 1fr 2.7fr .8fr;

    span.icon {
        background: var(--color1);
        border: 10px solid var(--color1);
        border-radius: 50%;
        @include flex-position;  // flex-method
        width: 70px;
        height: 70px;
        path {
            fill: var(--color2);
        }
    }

    form {
        width: 100%;
        // flex-method
            height: 100%;  // essential for the flex to work
            @include flex-position($y:center, $x:space-around, $dir:column);

            ::placeholder {
                color: var(--darkest);
                font-weight: normal;
            }

            input {
            width: 80%;
            padding: 7px 15px;
            border: none;
            outline: none;
            border-bottom: 1px solid var(--color1);
            background: transparent;
            transition: all 300ms ease-in-out;
            color: var(--darkest);
            font-weight: bold;
            &:focus {
                border-bottom: 1px solid var(--darkest);
            }

            &[type=submit] {
                all: unset;
                cursor: pointer;
                background: var(--color1);
                color: var(--color2);
                padding: 4% 7%;
                border-radius: 6px;
                transition: all 300ms ease-in-out;
                font-size: 1.1em;
                font-weight: bold;
                width:15%;  // text-fixed-size

                &:hover {
                    background: var(--color1-darker);
                }
            }
        }
    }

    a {
        &, &:visited {
            color: var(--color1);
            text-decoration: underline;
            transition: all 300ms ease-in-out;
        }

        &:hover {
            color: var(--color1-darker);
        }
    }
}

@media screen and (max-width:600px) {
    main {
        width:320px;
        height:450px;
        
        form input[type=submit] {
        width: 17%;  // text-fixed-size
        }
    }
}

@media screen and (max-width:430px) {
    main {
        width:280px;

        form input[type=submit] {
        width: 20%;    // text-fixed-size
        }
    }
}