@import "form-container";

body {
    height: 3000px
}

main {
    @include flex-position;
    width: 100%;
    height: 100%;

    #form-container {
        @include form-container-styles(2);

        fieldset#radio-wrapper {
            border: none;
            padding-top: 12px;
            @include flex-position($x:space-around);
            width: 80%;  // same as input

            .group {
                width: auto;
                @include flex-position($x:space-evenly);

                label {
                    margin-right: 6px;
                }

                * {
                    cursor: pointer;
                }
            }
        }
    }
}

@import "form-container-mq";