//- includes
include ./includes/head
include ./includes/navbar
include ./includes/site-info.pug


//- DOCTYPE
doctype html
html(lang="en")

    //- <head>
    +head(brandName)

    //- <body>
    body 
        header
            +navBar(logo)

        //- Scripts @TODO
        script(src="./scripts/jquery.min.js")
        script(src="./scripts/navbar.js")
        script(src="./scripts/toggle-debug.js")