//- includes
include ./includes/head
include ./includes/navbar
include ./includes/site-info.pug


//- Basic in * pages
+head(brandName)

//- rest of `body`
header
    +navBar(logo)

//- Scripts @TODO
script(src="./scripts/navbar.js")
script(src="./scripts/toggle-debug.js")