//- includes
include ./includes/head
include ./includes/navbar


//- Vars
-
    const brandName = '7alan'



//- Page
doctype html
html(lang="en")

    //- head
    +head("7alan")

    //- body
    body
        header
            +navBar(brandName)

        //- Scripts
        script(src="./scripts/navbar.js") 