//- Site Identity
-
    const brandName = '7alan'
    const logo = '7alan'


//- Page Nav Links
-
    const indexLinks = [
        [
            {'Sign Up':'#!'},
            [
                {'Log in':'./pages/html/login.html'}
            ]
        ],
        [
            {'News':'#!'},
            [
                {'New':'#!'},
                {'Old':'#'}
            ]
        ],
        {'Services':'#'},
        {'About':'#'}
    ]
    const loginLinks = [
        {'Home':'../../index.html'},
        {'Sign Up':'#'}
    ]


//- Silly
-
    const indexStylesPath = "./styles/css/"
    const indexScriptsPath = "./scripts/"
    const pagesStylesPath = "../../styles/css/"